@use 'common/colours';
@use 'common/fonts';

#new-appointment-form-container {
  margin: 0 25% 0 25%;
}

#input-warnings {
  margin: 2% 10% 2% 10%;
  border: 3px colours.$red solid;
  border-radius: 25px;

  li {
    margin: 2% 0 2% 0;
    color: colours.$red;
    font-weight: bold;
  }
}

#new-appointment-form {
  display: flex;
  flex-direction: column;

  label {
    align-self: flex-start;
    font-weight: bold;
  }
}

#title-container {
  display: flex;
  flex-direction: column;
}

#date-time-container {
  display: flex;
  justify-content: space-between;
  padding: 2% 0 2% 0;

  div {
    display: flex;
    flex-direction: column;
  }
}

#new-appointment-date {
  font-family: fonts.$main;
  cursor: pointer;
}

#new-appointment-time {
  cursor: pointer;
}

#new-appointment-submit {
  font-weight: bold;
  cursor: pointer;
}
